<div class="container barra my-5">
  <div class="p-5 text-center bg-body-tertiary rounded-3">
    <img src="https://avatars3.githubusercontent.com/auth0" alt="logo auth0" width="80" height="80">
    <h1 class="text-body-emphasis">Login</h1>
    <br>
    <p class="col-lg-8 mx-auto fs-5 text-muted">
      App Angular y Auth0
    </p>
    <br>
    <div class="d-inline-flex gap-2 mb-5">
      <button (click)="login()" class="d-inline-flex align-items-center btn btn-primary btn-sm px-4 " type="button">
        ingresar
      </button>

    </div>
  </div>
</div>
