
/* Toolbar */
.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #e23648;
  color: white;
  font-weight: 600;
}

.toolbar img {
  margin: 0 16px;
}

.card{
  box-shadow: 10px 10px 10px  rgba(0, 0, 0, 0.2);

}

.barra{
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

section{
  display: flex;
  text-align: center;
  justify-content: center;
}
